<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/navbar.css">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <title>Parent Notification and Announcement</title>
</head>

<body>




    <!--Start of Navbar-->
    <header class="header">
        <nav class="navbar">
            <a href="index.html" class="nav-logo">Parent Notification and Announcement</a>
            <ul class="nav-menu">
                <li class="nav-item">

                    <!---->

                    <div class="dropdown">
                        <button onclick="myFunction()" class="dropbtn">Services</button>
                        <div id="myDropdown" class="dropdown-content">
                            <a href="index.html">Home</a>
                            <a href="register.html">Parent Register Form</a>
                            <a href="facultyregister.html">Faculty Register Form</a>
                            <a href="#contact">Contact</a>
                        </div>
                    </div>

                    <!---->


                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Blog</a>
                </li>
                <li class="nav-item">
                    <a href="about.html" class="nav-link">About</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Contact</a>
                </li>
                <li class="nav-item">

                    <a href="index.html" class="nav-link"><i class="fas fa-sign-out-alt"
                            style="font-size: 18px;"></i>Sign Out</a>
                </li>
            </ul>
            <div class="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </nav>
    </header>
    <!--End of Navbar-->

    <!--Start For background Color-->
    <div class="new-background">
        <!--Start For Extra Body-->

        <h1 class="rainbow-text">Welcome to Parent Notification and Announcement <br> website<h1>

                <!--End For Extra Body-->

    </div>
    <!--End For background Color-->

    <!--Starting Footer-->
    <div class="backgroundforfooter">
        <div class="listing padding-top--24 padding-bottom--24 flex-flex center-center">
            <div class="new-span">
                <span><a href="index.html">© Parent Notification and Announcement</a></span>
                
                <span style="padding: 15px;"><a href="#">Contact</a></span>
                <span><a href="#" style="padding: 15px;">Privacy & terms</a></span>
            </div>
        </div>
    </div>
    <!--Ending Footer-->

</body>

<script src="/navbar.js"></script>

</html>